#header1-1 H1 {
  font-size: 30px;
  color: #000000;
}
#header1-1 B {
  font-size: 21px;
}
#header1-1 P {
  font-size: 17px;
  color: #252525;
}
#header3-1v H3 {
  text-align: center;
  color: #2c82c9;
}
#header3-1v P {
  text-align: center;
  font-size: 17px;
  color: #252525;
}
#header3-1v B {
  font-size: 17px;
}
#features1-m .mbr-section-title .mbr-header__text {
  color: #2c82c9;
}
#features1-m P {
  text-align: center;
  color: #000000;
}
#features1-n .mbr-section-title .mbr-header__text {
  color: #ffffff;
}
#features1-n P {
  text-align: center;
  color: #ffffff;
}
#slider-q P {
  font-size: 20px;
  color: #252525;
}
#slider-q B {
  color: #252525;
}
#slider-q H1 {
  color: #2969b0;
}
#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-2 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #27aae0;
}
#ext_menu-2 .mbr-brand__name a {
  font-size: 30px;
}
#footer1-7 P {
  text-align: center;
  color: #ffffff;
}
#msg-box1-1x .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-1x .mbr-article {
  color: #ffffff;
  text-align: center;
}
#contacts1-r STRONG {
  color: #2c82c9;
}
#contacts1-r P {
  color: #000000;
}
#contacts1-r UL {
  color: #000000;
}
#form1-v .mbr-header__text {
  color: #2969b0;
}
#ext_menu-s .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-s.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-s .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-s .mbr-navbar__hamburger {
  color: #27aae0;
}
#ext_menu-s .mbr-brand__name a {
  font-size: 30px;
}
#footer1-t P {
  text-align: center;
  color: #ffffff;
}
#contacts1-u STRONG {
  color: #2c82c9;
}
#contacts1-u P {
  color: #000000;
}
#contacts1-u UL {
  color: #000000;
}
#content5-z .mbr-header .mbr-header__text {
  text-align: center;
  color: #27aae0;
  font-size: 46px;
}
#content5-z .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-z .mbr-article {
  color: #fff;
}
#content5-z .mbr-article P {
  text-align: center;
  font-size: 22px;
  color: #ffffff;
}
#header3-1b P {
  text-align: center;
  color: #252525;
  font-size: 17px;
}
#header3-1b H3 {
  text-align: center;
  color: #2969b0;
}
#features1-10 .mbr-section-title .mbr-header__text {
  color: #2969b0;
}
#features1-10 P {
  text-align: center;
}
#features1-1m P {
  text-align: center;
}
#ext_menu-w .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-w.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-w .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-w .mbr-navbar__hamburger {
  color: #27aae0;
}
#ext_menu-w .mbr-brand__name a {
  font-size: 30px;
}
#footer1-x P {
  text-align: center;
  color: #ffffff;
}
#contacts1-y STRONG {
  color: #2c82c9;
}
#contacts1-y P {
  color: #000000;
}
#contacts1-y UL {
  color: #000000;
}
#ext_menu-11 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-11 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-11 .mbr-navbar__hamburger {
  color: #27aae0;
}
#ext_menu-11 .mbr-brand__name a {
  font-size: 30px;
}
#footer1-12 P {
  text-align: center;
  color: #ffffff;
}
#msg-box1-1k .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-1k .mbr-article {
  color: #fff;
}
#header3-1j H3 {
  text-align: center;
  color: #2969b0;
}
#header3-1j P {
  text-align: left;
  font-size: 17px;
}
#msg-box1-1l .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-1l .mbr-article {
  color: #fff;
}
#contacts1-13 STRONG {
  color: #2c82c9;
}
#contacts1-13 P {
  color: #000000;
}
#contacts1-13 UL {
  color: #000000;
}
#ext_menu-14 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-14.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-14 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-14 .mbr-navbar__hamburger {
  color: #27aae0;
}
#ext_menu-14 .mbr-brand__name a {
  font-size: 30px;
}
#footer1-15 P {
  text-align: center;
  color: #ffffff;
}
#content4-1f .mbr-section-title .mbr-header__text {
  color: #2969b0;
}
#content4-1f P {
  text-align: center;
}
#content4-1h .mbr-section-title .mbr-header__text {
  color: #2969b0;
}
#content4-1h P {
  text-align: center;
}
#content4-1i .mbr-section-title .mbr-header__text {
  color: #2969b0;
}
#content4-1i P {
  text-align: center;
}
#contacts1-16 STRONG {
  color: #2c82c9;
}
#contacts1-16 P {
  color: #000000;
}
#contacts1-16 UL {
  color: #000000;
}
#ext_menu-18 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-18 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-18 .mbr-navbar__hamburger {
  color: #27aae0;
}
#ext_menu-18 .mbr-brand__name a {
  font-size: 30px;
}
#footer1-19 P {
  text-align: center;
  color: #ffffff;
}
#content4-1d .mbr-section-title .mbr-header__text {
  color: #2969b0;
}
#content4-1d P {
  text-align: center;
}
#msg-box1-1o .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-1o .mbr-article {
  color: #fff;
}
#content4-1g P {
  text-align: center;
}
#contacts1-1a STRONG {
  color: #2c82c9;
}
#contacts1-1a P {
  color: #000000;
}
#contacts1-1a UL {
  color: #000000;
}
